.precode {
    counter-reset: line-numbering;
    white-space: pre-wrap;
    clear: left;
    min-height: 42px;
    color: #f1f1f1;
    font-family: Cousine,monospace;
    font-size: 12px;
    line-height: 19px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #222;
    margin-top: 0;
    margin-bottom: -45px;
    border-radius: 5px;
    padding: 45px 0;
    position: relative;
    &::before {
        content: attr(data-rel);
        height: 38px;
        line-height: 38px;
        background: #21252b;
        color: #fff;
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 700;
        text-indent: 15px;
        float: left;
        border-radius: 5px;
    }
      
    &::after {
        content: " ";
        position: absolute;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: #fc625d;
        width: 12px;
        height: 12px;
        top: 0;
        left: 20px;
        margin-top: 13px;
        -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
        box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
        z-index: 3;
    }
    .log-line {
        position: relative;
        padding: 0 15px 0 62px;
        margin: 0;
    
    }
    .log-line:hover {
        background-color: #444!important;
    }
    .log-line::before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        display: inline-block;
        text-align: right;
        min-width: 40px;
        margin-left: -50px;
        cursor: pointer;
        text-decoration: none;
        position: absolute;
        color: #666;
        padding-right: 1em;
    }
}

@light-yellow: #B1FD79;
@black: #4E4E4E;
@red: red;
@green: green;
@yellow: yellow;
@blue: blue;
@magenta: magenta;
@cyan: cyan;
@white: white;
@grey: grey;
@bg-black: #4E4E4E;
@bg-red: red;
@bg-green: green;
@bg-yellow: yellow;
@bg-blue: blue;
@bg-magenta: magenta;
@bg-cyan: cyan;
@bg-white: white;

.precode {
    .light-yellow {
        color: @light-yellow
    }
    .black {
        color: @black
    }
    .red {
        color: @red
    }
    .green {
        color: @green
    }
    .yellow {
        color: @yellow
    }
    .blue {
        color: @blue
    }
    .magenta {
        color: @magenta
    }
    .cyan {
        color: @cyan
    }
    .white {
        color: @white
    }
    .grey {
        color: @grey
    }
    .bg-black {
        background-color: @bg-black
    }
    .bg-red {
        background-color: @bg-red
    }
    .bg-green {
        background-color: @bg-green
    }
    .bg-yellow {
        background-color: @bg-yellow
    }
    .bg-blue {
        background-color: @bg-blue
    }
    .bg-magenta {
        background-color: @bg-magenta
    }
    .bg-cyan {
        background-color: @bg-cyan
    }
    .bg-white {
        background-color: @bg-white
    }
}